.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  z-index: 1;
}

.errBox1 {
  width: 50%;
  color: #e02f38;
  padding: 3px 0px;
  text-align: center;
  background-color: #ffbaba;
  border: 1px red solid;
}
.containerS {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerM {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}

.close:hover {
  color: #666;
}

.floorPlanContainer {
  position: relative;
  z-index: 1;
  width: 77%;
}
.grid {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gridCells {
  height: 25px;
  width: 25px;
  border: 1px solid #333;
  opacity: 0.6;
}

.goBack {
  width: 100%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  margin-right: 30px;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.userInputSize {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 10px;

  box-sizing: border-box;
  color: black;
}

.conStep0 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}
.infoSelectedTable {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  color: #5f5f5f;
}

.changeBtn {
  border: 1px #5f5f5f solid;
  outline: none;
  padding: 5px 8px;
  border-radius: 5%;
  color: #5f5f5f;
  background-color: #d8d8d8;
}

.changeBtn:hover {
  background-color: #525252;
  color: white;
  cursor: pointer;
}

.regBtn {
  border: 1px #5f5f5f solid;
  outline: none;
  padding: 5px 8px;
  border-radius: 5%;
  color: #5f5f5f;
  background-color: #d8d8d8;
  margin: 10px 20px;
}
.regBtn:disabled {
  border: 1px #a1a1a1 solid;
  outline: none;
  padding: 5px 8px;
  border-radius: 5%;
  color: #a1a1a1;
  background-color: #d8d8d8;
  margin: 10px 20px;
}

.regBtn:disabled:hover {
  border: 1px #a1a1a1 solid;
  outline: none;
  padding: 5px 8px;
  border-radius: 5%;
  color: #a1a1a1;
  background-color: #d8d8d8;
  margin: 10px 20px;
  cursor: default;
}
.regBtn:hover {
  background-color: #525252;
  color: white;
  cursor: pointer;
}

.imgInfoM {
  height: 40%;
  width: auto;
}
@media only screen and (max-width: 600px) {
  .containerS {
    flex-direction: column;
  }

  .floorPlanContainer {
    width: 100%;
  }

  .infoSelectedTable {
    width: 100%;
    margin: 20px 0px;
  }
  .containerM {
    justify-content: space-evenly;
  }
  .imgInfoM {
    height: 120px;
  }
}
