.homepage {
  width: 100%;
}

.imgCont {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.textImage {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: 600;
  transform: translate(-50%, -50%);
  width: 34%;
  border: 1px white solid;
  border-radius: 4%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
}

.btnRez {
  text-align: center;
  margin: 0 auto;
  width: 40%;
  border: 1px white solid;
  border-radius: 5%;
  padding: 5px 0px;
  background-color: rgba(165, 165, 165, 0.5);
}
.textImage a {
  color: white;
}
.btnRez:hover {
  background-color: rgba(230, 230, 230, 0.5);
  cursor: pointer;
}

.hpImg {
  height: auto;
  width: 50%;
}

.feature {
  padding: 60px 0px;
  max-width: 58em;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.featureImgCon {
  width: 22%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.25s;
}

.featureImgCon:hover,
.featureImgCon:focus {
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
}

.fImg {
  width: 40%;
  margin: 0 auto;
}

.textF {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.c1 {
  /* background-color: rgb(253, 146, 53); */
  background-color: rgb(88, 88, 88);
}
.c1:hover {
  /* background-color: #e46c03; */
  background-color: rgb(3, 168, 124);
}

.c2 {
  /* background-color: rgb(101, 202, 113); */
  background-color: rgb(88, 88, 88);
}
.c2:hover {
  /* background-color: #17cc2c; */
  background-color: rgb(3, 168, 124);
}

.c3 {
  /* background-color: #ff50f0; */
  background-color: rgb(88, 88, 88);
}
.c3:hover {
  /* background-color: #fd00e8; */
  background-color: rgb(3, 168, 124);
}

.c4 {
  /* background-color: #427db8; */
  background-color: rgb(88, 88, 88);
}
.c4:hover {
  /* background-color: #024a92; */
  background-color: rgb(3, 168, 124);
}

.aktualno {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 80px;
  color: rgba(0, 0, 0, 0.84);
}

.resCon {
  margin-top: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.25s;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.resImgCon {
  width: 100%;
}

.resImg {
  width: 100%;
  height: 100%;
}

.resInfo {
  width: 100%;
  height: 100%;
}

.resCon:hover,
.resCon:focus {
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
}

.restInfoHead {
  margin: 0 auto;
  width: 90%;
  padding: 3px 3px;
  color: #5f5f5f;
  border-bottom: 1px solid #d8d8d8;
  text-transform: uppercase;
}

.restInfoBot {
  color: #5f5f5f;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5px 0;
}

.categories {
  padding-top: 60px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category {
  line-height: 32px;
  font-size: 24px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  padding: 6px;
  border-radius: 98em;
  color: rgba(0, 0, 0, 0.54);
  background-color: rgb(230, 230, 230);
}

.category:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 207);
}

.category svg {
  margin-right: 7px;
}

.hpText {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.84);
}

.provjera {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.provjera1 {
  background-color: rgb(3, 168, 124);
  color: white;
  border-radius: 3px;
  padding: 8px 16px;
  width: 339.88px;
  height: 62px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.pGreen {
  color: rgb(3, 168, 124);
  margin-left: 5px;
}

.provjera2 {
  color: rgba(0, 0, 0, 0.84);
  font-size: 18px;
  font-weight: 500;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 30px auto 10px auto;
  justify-content: center;
}

.hpDescription {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.hpDescriptionText {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.54);
  font-size: 20px;
  line-height: 32px;
}

.hpDescriptionText p {
  text-align: justify;
}
.hpDBold {
  font-weight: 600;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.84);
}

.hpDescriptionButton {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hpDescriptionButtonB {
  background-color: rgb(3, 168, 124);
  color: white;
  border-radius: 3px;
  padding: 8px 16px;
  width: 339.88px;
  height: 62px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.hpDescriptionButtonB a {
  color: white;
}

hr {
  width: 35%;
  margin: 50px auto 0px auto;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
}

@media only screen and (max-width: 1004px) {
  .fImg {
    width: 40%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 904px) {
  .hpImg {
    height: auto;
    width: 60%;
  }

  .feature {
    justify-content: space-evenly;
  }
  .featureImgCon {
    width: 170px;
    height: 170px;
    margin: 10px 30px;
  }
  .fImg {
    width: 40%;
    margin: 0 auto;
  }

  .textF {
    width: 60%;
    margin: 0 auto;
    font-size: 12px;
  }

  .hpDescription {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hpDescriptionText {
    width: 80%;
  }

  .hpDescriptionButton {
    margin-top: 100px;
    width: 80%;
  }

  .resCon {
    width: 40%;
  }
}

@media only screen and (max-width: 804px) {
  .hpImg {
    height: auto;
    width: 70%;
  }
  .categories {
    width: 80%;
  }

  .resCon {
    width: 45%;
  }
}

@media only screen and (max-width: 700px) {
  .hpImg {
    height: auto;
    width: 80%;
  }

  .category {
    margin: 5px 0px 5px 0px;
  }

  .hpDescriptionText {
    width: 90%;
  }

  .hpDescriptionButton {
    width: 90%;
  }

  .aktualno {
    width: 95%;
  }
}
@media only screen and (max-width: 600px) {
  .hpImg {
    height: auto;
    width: 90%;
  }

  .categories {
    padding-top: 30px;
  }

  .featureImgCon {
    margin: 10px 10px;
  }

  .resCon {
    width: 60%;
  }
}
