.tablesList {
  width: 100%;

  background-color: rgb(255, 255, 255);
  border: 1px solid #333;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
