.header {
  background-color: rgb(255, 255, 255);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  will-change: transform;
  display: flex;
  justify-content: center;
}
.header a {
  color: #333;
  text-transform: uppercase;
  font-size: 13px;
}

.header a:hover {
  color: #ff5274;
}

header::after {
  bottom: 0;
  box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
  z-index: -1;
}
.header.is-active::after {
  opacity: 1;
}

.gridd {
  padding-bottom: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 58em;
  width: 90%;
}
.h1 {
  /* display: flex;
  flex-direction: row; */
  padding: 0px;
}
.h2 {
  display: flex;
  flex-direction: row;
}
.navLink {
  height: 100%;
  padding: 5px 0px;
  margin: 0px 10px;
}
