.floorPlan {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #333;
  z-index: 1;
}

.floorPlanCont {
  position: relative;
  width: 100%;
  height: 100%;
}

.fpCon {
  width: 100%;
}
